img{
    width: 50%;
    margin: 50px;
}
.form{
    display:flex;
    width: 70%;
    margin: auto;
    border: 2px solid #fff;
    position: relative;
    top: 100px;
    background-color: #fff;
}
.form p{
    text-align:start;
    text-transform:uppercase ;
    font-size: 1.5em;
    font-weight: bold;
}
.form1 input{
    width: 30%;
}
.form2{
    position: relative;
    top: 40px;

}
#submit{
    width: 30%;
    text-align: center;
    position: relative;
    top: 40px;
    left: 100px;
    color: #fff;
    background-color: black;
    font-family: 'Montserrat', sans-serif;

}
.form2 input{
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #fff;
padding:7px;

}
.form3 input{
    width:65%;
}
body{
    background-image: url(images/art.jpg);
    font-family: 'Montserrat', sans-serif;

}
i{
    position: relative;
    right: 18px;
}

