body{
    background-image: url(images/img.jpg);
    background-size: 70%;
    color: white;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 1em;
    position:relative;
    left:20px;
    padding: 30px;
}
.main{
    position: absolute;
    left: 950px;
    width: 40%;
    height: 100%;
    background-color: black;
}
.main input{
    width: 30%;
    color: white;
}
.nom input{
   position: relative;
   right: 40px;
   margin: 15px;
   border: 1px solid burlywood;
}
.nom label{
    position: relative;
    top: -30px;
    left: 53px;
    color: burlywood;
}
.num input{
    position: relative;
    left: 36px;
    margin: 15px;
}
select{
    position: relative;
    left: 35px;
    width: 33%;
    margin: 15px;
    color: white;
}
button{
    
    border-radius: 15px;
}
.bouton label{
    
    color:white;
}
.envoi input{
     position: relative;
     left: 50px;
     background-color: burlywood;
     width: 15%;
     height: 30px;
     border: 1px solid black;
}
.envoi p{
    font-size: 10px;
    position: relative;
    left: 50px;
    color: burlywood;
}
span{
    background-color: burlywood;
    width: 200px;
}
.four{
    position: relative;
    bottom: 20px;
    left: 80px;
    background-color: burlywood;
    width: 14%;
    border-radius: 10px;
}
.two{
    position: relative;
    left: 50px;
}
.otre{
    position: relative;
    top: -40px;
    left: 160px;
}
.dinning{
    position: relative;
    left: 47px;
    font-size: 14px;
}
.nom input, .num input, select{
    border-top:1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: black;
}
.cas{
    background-color: black;
    color: white;
    position: relative;
    right: -5px;
}