
nav{
    width: 100%;
    margin: auto;
    position: relative;
    top: 50px;
    left: 40px;
}
img{
    width: 30%;
    height: 500px;
    margin: auto;
    position: relative;
    left: 600px;
    top: 0px;
}
.table{
    position: relative;
    left: -256px;
    bottom: 504px;
    border: 1px solid black;
    width: 30%;
    height: 500px;
    background-color: #0B0430;
    color: #B5AED6;
    margin: auto;
}
.table h1{
    font-size: 2em;
    color:rgba(250, 36, 111 , 0.4);
    text-align: center;
}
.table select{
    position: relative;
    bottom: 33px;
    left: 120px;
    background-color: #0B0430;
    color: #fff;
    border: 1px solid #0B0430;
}
.form input{
    width: 60%;
    background-color: #0B0430;
    margin: 10px;
}
.nb input{
    position: relative;
    left: 70px;
    border:1px solid #0B0430;
}
.nb label, .form p, .doe label, .ml label, .ph label{
    position: relative;
    left:50px
}
.comme label{
    position: relative;
    top: -100px;
    left:48px ;
}
.ml input{
    position: relative;
    left: 75px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #0B0430;
    border-left: 1px solid #0B0430;
    border-right: 1px solid #0B0430;
    
}
.ph input{
    position: relative;
    left: 65px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #0B0430;
    border-left: 1px solid #0B0430;
    border-right: 1px solid #0B0430;
}
.comme textarea{
    position: relative;
    left: 37px;
    margin: 20px;
    width: 60%;
    height: 80px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #0B0430;
    border-left: 1px solid #0B0430;
    border-right: 1px solid #0B0430;
    background-color: #0B0430;
}
.doe input{
    position: relative;
    left: 70px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #0B0430;
    border-left: 1px solid #0B0430;
    border-right: 1px solid #0B0430;
} 
.evy input{
position: absolute;
bottom: 90px;
left: 350px;
width: 10%;
height: 30px;
background: linear-gradient(#FF53E9,#3B135D);
color: white;
border: 1px solid #3B135D;
}
body{
    width: 100%;
    background: linear-gradient(90deg,#663A76,#FF53E9);
}

.foot{
    width: 30%;
    background-color:rgba(252, 32, 205, 0.3);
    text-align: center;
    position: absolute;
    top: 480px;
    left: 665px;
    color: white;
}
  


