.div1 input, .div2 input, .div3 input, .comp input, .ddc input, .ml input, .dr input, .ph input, .py input{
    width: 20%;
    height: 25px;
}

form{
    width: 100%;
    margin: auto;
    position: relative;
    left: 450px;
    top: 20px;
    font-size: 15px;
}

img{
    width: 30%;
    height: 1000px;
    position: relative;
    top: -800px;
}
.div1 {
    position: relative;
    right: -30px;
    font-weight: bold;
}
.div1 input{
    border: 1px solid #5ADEAC;
}
.div3 input{
    border: 1px solid #F6291C;

}
.div2{
    position: relative;
    top: -47px;
    right: -350px;
    font-weight: bold;

}
.div3{
    position: relative;
    top: -15px;
    left: 30px;
    font-weight: bold;

}
.form1 ,.div3, .mode, .comp, .ddc, .ml, .dr, .py, .ph, .don,{
    font-size: 15px;
}
.form1 p{
    text-decoration: underline;
    position: absolute;
    top: -20px;
    left: 546px;

}
.mode{
    position:relative;
    top:-70px;
    left: 350px;
}
.mode p{
    position: relative;
    top: -32px;
    left: 176px;
    text-decoration: underline;
}
.mode label{
    font-weight: bold;

}
.pay{
    position: relative;
    top: -45px;
}
.pay label{
     font-size: 13px;
    font-weight: bold;

}
.class1{
    position: relative;
    top: -60px;
    left: 350px;
}
.class1 input{
    border: 1px solid #5ADEAC;
}
.class2{
    position: relative;
    top: -80px;
    left: 420px;
}
.class3{
    position: relative;
    top: -100px;
    left: 500px;
}
.comp{
    position: relative;
    top: -110px;
    left: 30px;
    font-weight: bold;

}
.ddc {
    position: relative;
    top: -157px;
    left: 350px;
    font-weight: bold;

}
.ml {
    position: relative;
    top: -100px;
    left: 30px;
    font-weight: bold;

}
.dr {
    position: relative;
    top: -147px;
    left: 350px;
    font-weight: bold;

}
.ph {
    position: relative;
    top: -100px;
    left: 30px;
    font-weight: bold;

}
.py {
    position: relative;
    top: -147px;
    left: 350px;
    font-weight: bold;

}
span{
    font-size: 2em;
}
.don {
    position: relative;
    top: -130px;
    left: 30px;
    font-weight: bold;

}
.nbr {
    position: relative;
    top: -130px;
    left: 320px;
    font-size: 15px;
    width: 4%;
    height: 27px;
    border: 1px solid white;
    background-color: #5ADEAC;
    color: white;
}
.fin{
    position: relative;
    top: -167px;
    left: 323px;
    font-size: 15px;
    color: white;
}
.divh{
    width: 22%;
    position: relative;
    top: -192px;
    right: 490px;
    border: 2px solid #5ADEAC;
    
}
.divh2{
    width: 22%;
    position: relative;
    top: -204px;
    left: -143px;
    border: 2px solid #E9F2EF;
}
.send input{
    width: 8%;
    height: 50px;
    position: relative;
    top: -150px;
    left: 450px;
}
.sub{
    background-color: #5ADEAC;
    border: 1px solid #5ADEAC;
    color: white;
}
.res{
    border: 1px solid #5ADEAC;
    background-color: white;
    color:grey;
}
button{
     
    border-radius: 10px;
    background-color: #F6291C;
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 100px;
    right: 1050px;
}
.div2 input, .comp input, .ddc input, .ml input, .dr input, .ph input, .py input{
    border: 1px solid gray;
} 
h4{
    position: absolute;
    top: 270px;
    left: 200px;
    color: white;
    text-align: center;
}


